<h1 mat-dialog-title>Detalles del Evento</h1>
<div mat-dialog-content class="dialog-content">
  <mat-card class="custom-card">
    <mat-card-header>
      <div mat-card-avatar class="event-image">
        <img [src]="sanitizeImage(data.imagen)" alt="Event Image">
      </div>
      <mat-card-title>{{ data.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Descripción:</strong> {{ data.descripcion }}</p>
      <p><strong>Fecha:</strong> {{ data.fecha | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Cupo:</strong> {{ data.cupo }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">Cerrar</button>
</div>
