.event-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
  }

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  