<body>
  <div class="form-container">
    <form [formGroup]="formulario" (ngSubmit)="submitForm()" class="reset-password-form">

      <h2  class="centered-title">Restablecer contraseña</h2>

      <mat-form-field class="full-width mt-4">
        <mat-label>Correo electrónico</mat-label>
        <input matInput id="email" formControlName="email" type="email" placeholder="ejemplo@gmail.com" (input)="validateField('email')">
        <mat-error *ngIf="formulario.get('email').touched && errorHandling('email', 'required')">
          Correo electrónico es requerido.
        </mat-error>
        <mat-error *ngIf="formulario.get('email').touched && errorHandling('email', 'email')">
          Correo electrónico no es válido.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="full-width mb-4 ">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput id="newPassword" formControlName="newPassword" type="password" (input)="validateField('newPassword')">
        <mat-error *ngIf="formulario.get('newPassword').touched && errorHandling('newPassword', 'required')">
          Nueva contraseña es requerida.
        </mat-error>
        <mat-error *ngIf="formulario.get('newPassword').hasError('pattern')">
          Obligatorio una mayuscula, un número y un símbolo especial.
        </mat-error>
        <mat-error *ngIf="formulario.get('newPassword').touched && errorHandling('newPassword', 'minlength')">
          Nueva contraseña debe tener al menos 6 caracteres.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="full-width ">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput id="confirmPassword" formControlName="confirmPassword" type="password" (input)="validateField('confirmPassword')">
        <mat-error *ngIf="formulario.get('confirmPassword').touched && errorHandling('confirmPassword', 'required')">
          Confirmar contraseña es requerida.
        </mat-error>
        <mat-error *ngIf="formulario.get('confirmPassword').touched && errorHandling('confirmPassword', 'minlength')">
          Confirmar contraseña debe tener al menos 6 caracteres.
        </mat-error>
        <mat-error *ngIf="formulario.get('confirmPassword').touched && formulario.get('confirmPassword').hasError('passwordMismatch')">
          Las contraseñas no coinciden.
        </mat-error>
      </mat-form-field>
      <button type="submit" class="custom-button btn btn-primary w-100" [disabled]="formulario.invalid">Confirmar cambio</button>
    </form>
  </div>
</body>
  