.reset-password-form {
    font-family: 'Arial', sans-serif; /* Establece la fuente de texto */
    font-size: 16px; /* Tamaño de fuente base */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .reset-password-form .form-group {
    margin-bottom: 20px; /* Espacio entre grupos de formulario */
  }
  
  .reset-password-form .input-field {
    width: 100%; /* Ancho completo para campos de entrada */
    padding: 12px; /* Ajuste de relleno */
    font-size: 16px; /* Tamaño de fuente para campos de entrada */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Borde redondeado */
  }
  
  .reset-password-form .error-message {
    font-size: 14px; /* Tamaño de fuente para mensajes de error */
    color: #721c24; /* Color de texto para mensajes de error */
    margin-top: 4px; /* Espaciado superior para separar los mensajes de error */
  }
  
  .reset-password-form .custom-button {
    background-color: #0b488c; /* Color de fondo para botón */
    color: white; /* Color de texto para botón */
    border: none; /* Elimina el borde del botón */
    padding: 12px 20px; /* Ajuste de relleno para el botón */
    font-size: 16px; /* Tamaño de fuente para el botón */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  .reset-password-form .custom-button:hover {
    background-color: #05243b; /* Color más oscuro al pasar el cursor */
  }
  
  .custom-button {
    margin-top: 1rem; /* Ajusta el valor según tus necesidades */
    margin-bottom: 10px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajusta la altura mínima para centrar verticalmente */
  }
  
  .reset-password-form {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del formulario */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 8px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .centered-title {
    text-align: center;
  }
  