<body>
  <div class="event-list">
    <mat-card *ngFor="let event of dataSource" class="event-card">
      <mat-card-header>
        <mat-card-title>{{ event.name }}</mat-card-title>
        <mat-card-subtitle>{{ event.fecha | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="sanitizeImage(event.imagen)" alt="Event Image" class="event-image">
      <mat-card-content>
        <div class="event-details">
          <p><strong>Descripción:</strong> {{ event.descripcion }}</p>
          <p><strong>Cupo:</strong> {{ event.cupo }}</p>
        </div>
        <div class="event-footer">
        
          <mat-card-actions class="event-actions">
            <button mat-button color="primary" (click)="openDetailDialog(event)">Detalle</button>
            <button mat-button color="warn">Eliminar</button>
            <button mat-button color="accent">Editar</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>
