.event-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */

  justify-content: center; /* Centrar la cuadrícula dentro del contenedor */
  }
  
  .event-card {
    /* Ajustar el ancho y el alto de las tarjetas según tus necesidades */
    /* Se eliminará el ancho de la tarjeta ya que el grid se encargará de eso */
    display: flex;
    flex-direction: column;
    height: 100%; /* Asegúrate de que la tarjeta use toda la altura disponible */
  }
  
  .event-actions {
    display: flex;
    justify-content: center;
  }
  
  .event-card mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .event-card mat-card-title, 
  .event-card mat-card-subtitle {
    margin: 0;
  }
  
  .event-card img {
    width: 100%;
    height: 216.16px;
    object-fit: cover; /* Esto asegura que la imagen se recorte si es necesario para llenar el espacio */
  }
  
  .event-details {
    height: 100px; 
    overflow: hidden;
  
  }
  
  .event-description {
    max-height: 80px;
    overflow: hidden;
  }

  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .event-card {
    width: 300px; /* Ajusta el ancho de la tarjeta según tus necesidades */
    margin: 20px; /* Ajusta el margen entre tarjetas según tus necesidades */
  }
  
