// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
// Sidebar
// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@

.sidenav {
  min-width: 265px;
  box-shadow: 0px 7px 30px 0px $shadow;
  border: 0;

  .list-group {
    display: flex;
    align-items: center;
  }

  $mi-color-personalizado: #eaa159;
  
  .sidebar-menu {
    padding: 14px 16px;
    border-radius: 9px;
    

    &.activelink {
      background-color:  $mi-color-personalizado ;
      color: $white !important;
    }
  }



  .buy-flexy {
   // background-color: $light-primary;
   background-color:  $mi-color-personalizado;
    border-radius: 10px;
  }

}
