.icon-blue {
    color: blue;
  }
  
  .icon-yellow {
    color: yellow;
  }
  
  .icon-red {
    color: red;
  }
  

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  