<body>
<form [formGroup]="formulario" enctype="multipart/form-data">
    <a mat-flat-button style="background-color: #0b488c; margin-bottom: 55px;" href="/users"><mat-icon>arrow_back</mat-icon></a>
    <input type="hidden" formControlName="id"/>

    <mat-card>
        <mat-card-header class="container">
            <h1>{{TitleForm}}</h1>
        </mat-card-header>
        <mat-card-content class="container">
            <div class="row">
                <mat-form-field class="col-12">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="NombreUsuario" maxlength="20" placeholder="Nombre de usuario">
                    <mat-error *ngIf="errorHandling('NombreUsuario','required')">
                        Nombre de usuario es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-12">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="Password" maxlength="20" placeholder="Contraseña">
                    <mat-error *ngIf="errorHandling('Password','required')">
                        La Contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-4">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="Email" placeholder="Correo electronico">
                    <mat-error *ngIf="errorHandling('Email','required')">
                        El Correo electronico es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-4">
                    <mat-label>Fecha</mat-label>
                    <input matInput type="date" id="ExpirationDate" formControlName="ExpirationDate">
                    <mat-error *ngIf="errorHandling('ExpirationDate','required')">
                        La fecha de vencimiento es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-4">
                    <mat-label>Rol</mat-label>
                    <select matNativeControl formControlName="Rol" required>
                        <option value="1">Super administrador</option>
                        <option value="3">Administrador</option>
                        <option value="2">Cliente</option>
                    </select>
                    <mat-error *ngIf="errorHandling('Rol','required')">
                        El rol de usuario es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions class="button-container">
            <button mat-raised-button color="accent" (click)="submit()">Guardar</button>
            <button mat-raised-button color="warn" (click)="discard()">Descartar</button>
        </mat-card-actions>
    </mat-card>
</form>
</body>