.custom-button {
    background-color: #0b488c;
    color: white; /* Asegúrate de que el texto sea visible */
  }
  
  .custom-button:hover {
    background-color: #05243b; /* Color más oscuro para el estado hover */
  }