<section class="bg-light d-flex align-items-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="text-center mb-4">
              <h2 class="h1">
                <img src="../../../assets/images/Logo-removebg-preview.png" alt="Logo" class="card-logo">
              </h2>
            </div>
            
            <form [formGroup]="formulario" (ngSubmit)="submitForm()" class="custom-form">
              <mat-form-field class="full-width mb-4">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email" placeholder="ejemplo@gmail.com" required>
                <mat-error *ngIf="errorHandling('email', 'required')">
                  Correo es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'email')">
                  El correo <strong>debe tener un formato adecuado</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width mb-4">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-error *ngIf="errorHandling('password', 'required')">
                  Contraseña es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
              <div class="d-flex justify-content-between mb-3">
                <a  href="/reset-password" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
              </div>
              <button mat-raised-button class="custom-button w-100 mb-3" type="submit">
                Iniciar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
